<h1>Successful</h1>
<p>Your sighting has been created or updated successfully</p>
<p><%= link_to "Return to sighting", "/species/#{@species.id}/sightings/#{@sighting.id}" %></p>
<p><%= link_to "Return to #{@species.name}", "/species/#{@species.id}" %></p>
<p><%= link_to "Home", "/species/" %></p>