<div class="container">
  <h1>Species</h1>
  <ul>
    <% @species.each do |specimen|%>
      <li><%= specimen.name.capitalize %> <%= link_to 'Edit', "/species/#{specimen.id}/edit"%> <%= link_to 'Delete', "/species/#{specimen.id}", method: :delete%></li>
    <% end %>
  </ul>
  <p><%= link_to 'New', "/species/new" %></p>
</div>
